%% -*- erlang -*-
%% ex: ft=erlang ts=4 sw=4 et

{require_otp_vsn, "R1[56]|1[789]"}.

{cover_enabled, true}.

{erl_opts, [%{d,'DEBUG',true},
            debug_info,
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            warn_export_vars,
            warn_exported_vars,
            warn_untyped_record
            %warn_missing_spec,
            %strict_validation,
            %fail_on_warning
            ]}.

{xref_checks, [undefined_function_calls, deprecated_function_calls]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{port_specs, [
	      {"priv/elmdb.so", ["c_src/*.c"]}
             ]}.

{port_env, [
    {"DRV_CFLAGS",  "$DRV_CFLAGS -O3 -fPIC -march=native -mtune=native -Wall -Wextra"}
]}.

% for debugging use
%    {"DRV_CFLAGS",  "$DRV_CFLAGS -DMDB_DEBUG=2 -DMDB_PARANOID -DDEBUG -O0 -fPIC -Wall -Wextra -Werror"}
