%% -*- erlang -*-
%% ex: ft=erlang ts=4 sw=4 et

{require_otp_vsn, "R1[56]|1[789]"}.

{cover_enabled, true}.

{erl_opts, [%{d,'DEBUG',true},
            debug_info,
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            warn_export_vars,
            warn_exported_vars,
            warn_untyped_record
            %warn_missing_spec,
            %strict_validation,
            %fail_on_warning
            ]}.

{xref_checks, [undefined_function_calls, deprecated_function_calls]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{pre_hooks,
 [{"(linux|darwin|solaris)", compile, "make -C c_src"},
  {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
 [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
  {"(freebsd)", clean, "gmake -C c_src clean"}]}.
